<div id="background" class="d-flex flex-column justify-content-center align-items-center">
  <div id="banner" class="p-5 m-5">
    <h1 class="display-4">Welcome to Stocks & Shares</h1>
    <hr class="my-4">
    <p>Up to date news, stock prices and historic data.</p>
    <div class="d-flex justify-content-around">
      <a class="btn btn-primary" routerLink="/news" routerLinkActive="active">News</a>
      <a class="btn btn-primary" routerLink="/prices" routerLinkActive="active">Prices</a>
      <a class="btn btn-primary" routerLink="/tips" routerLinkActive="active">Tips</a>
    </div>
  </div>
</div>