#background {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url('../../../assets/Image/background.jpg');
}

#banner {
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.75);
}

@media screen and (max-width: 600px) {
    #banner {
        padding: 1.5rem !important;
    }
}