<!-- Summary -->
<div id="summary" class="m-5">
  <div class="d-flex">
    <h3 class="text-primary mr-4">{{symbol.displaySymbol}}</h3>
    <h3 class="text-info">{{symbol.description}}</h3>
  </div>
  <hr>
  
  <h4 class="text-info">{{'Summary (' + exchange.currency + ')'}}</h4>

  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Price</th>
        <td>{{quote.c.toFixed(2)}}p</td>
        <th>Change (%)</th>
        <td [ngClass]="{'text-success': change === 1, 'text-danger': change === 2}">{{percentageChange}}<i class="fas mx-2" *ngIf="change !== 0"
          [ngClass]="{'fa-caret-up': change === 1, 'fa-caret-down': change === 2}"></i>{{difference}}</td>
      </tr>
      <tr>
        <th>{{'High'}}</th>
        <td>{{quote.h.toFixed(2)}}p</td>
        <th>{{'Low'}}</th>
        <td>{{quote.l.toFixed(2)}}p</td>
      </tr>
      <tr>
        <th>{{'Time'}}</th>
        <td>{{quote.t * 1000 | date: 'dd-MM-yyyy'}} @ {{quote.t * 1000| date: 'hh:mm'}}</td>
        <th>{{'Last close'}}</th>
        <td>{{quote.pc.toFixed(2)}}p</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-around flex-wrap">
  <div class="d-flex flex-column">
  <!-- Chart -->
    <div *ngIf="candleData !== undefined">
      <h4 class="text-info">Chart</h4>
      <app-d3-line-chart [data]="chartData" [yLabel]="chartYLabel"></app-d3-line-chart>
    </div>
    <!-- Technical Analysis -->
    <h4 class="text-info">Technical Analysis</h4>
    <app-d3-pie-chart></app-d3-pie-chart>
  </div>
  
  <!-- Metrics -->
  <div *ngIf="metric !== undefined" class="m-3" id="metrics">
    <h4 class="text-info">Metrics</h4>
    <tabset #metricTabs>
      <tab heading="Margin" (selectTab)="getMetrics('margin')">
        <div *ngIf="metricsLoading" class="loading d-flex align-items-center justify-content-center">
          <i class="fas fa-spinner text-primary m-5"></i>
        </div>
        <table *ngIf="!metricsLoading" class="table table-striped">
          <tbody>
            <tr *ngFor="let item of metric.metric | keyvalue">
              <th>{{item.key}}</th>
              <td>{{item.value ? item.value : 'No Data'}}</td>
            </tr>
          </tbody>
        </table>
      </tab>
      <tab heading="Valuation" (selectTab)="getMetrics('valuation')">
        <div *ngIf="metricsLoading" class="loading d-flex align-items-center justify-content-center h-100">
          <i class="fas fa-spinner text-primary m-5"></i>
        </div>
        <table *ngIf="!metricsLoading" class="table table-striped">
          <tbody>
            <tr *ngFor="let item of metric.metric | keyvalue">
              <th>{{item.key}}</th>
              <td>{{item.value ? item.value : 'No Data'}}</td>
            </tr>
          </tbody>
        </table>
      </tab>
      <tab heading="Price" (selectTab)="getMetrics('price')">
        <div *ngIf="metricsLoading" class="loading d-flex align-items-center justify-content-center h-100">
          <i class="fas fa-spinner text-primary m-5"></i>
        </div>
        <table *ngIf="!metricsLoading" class="table table-striped">
          <tbody>
            <tr *ngFor="let item of metric.metric | keyvalue">
              <th>{{item.key}}</th>
              <td>{{item.value ? item.value : 'No Data'}}</td>
            </tr>
          </tbody>
        </table>
      </tab>
    </tabset>
  </div>
</div>