hr {
    border: 0.5px solid gray;
    margin: 0 0 1rem 0;
}

.fa-spinner {
    font-size: 5rem;
    animation: spin 3s linear 0s infinite;
}

tab {
    overflow-y: auto;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    th, td {
        font-size: 3vw;
    }
    tabset > ul > li > a > span {
        font-size: 3vw;
    }
}