html, body {
    height: 100%;
}

app-news, app-prices, app-tips, app-home {
    flex-grow: 1;
}

app-headline {
    display: flex;
    justify-items: stretch;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 6vw !important;
    }
    h3 {
        font-size: 5vw !important;
    }
    h4 {
        font-size: 4vw !important;
    }
    p {
        font-size: 4vw !important;
    }
}